@charset "utf-8";
/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;	font-size: 100%;font: inherit;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
:focus { outline:0;}
img { border:0;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}

/**布局开始**/
body {}
body,p { font:12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif; color:#333;}
a { color:#333; text-decoration:none;}
a:hover { color:#cd0200;}
.wrapper { width:100%; margin:0 auto;}
.wrapper .inner { width:1000px; margin:0 auto;} /**页面全局宽度**/
.wrapper .inner1 { width:1000px; margin:0 auto; background:#fcfcfc;} /**页面全局宽度**/

/**标题栏新闻窗口**/
.post { margin-bottom:10px; padding:0 40px;}
.post .tt { height:40px; border-bottom:0px solid #6db4e0;} /**标题栏**/
.post .tt .tit { display:inline-block; float:left; font-size:16px; color:#b10201;font-family: "Microsoft Yahei";} /**标题字体**/
.post .tt .tit .title { display:inline-block; height:40px; line-height:40px;} /**标题图标**/
.post .tt .more_btn { display:inline-block; height:40px; line-height:40px; float:right;}   /**更多按钮**/
.post .con { padding:5px 0; margin:0 auto;}
.post .con .wp_article_list .list_item { border-bottom:1px dashed #ccc;} /**新闻列表**/
.post .con .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;} /**新闻列表图标**/
.post1 { margin-bottom:10px; padding:0 10px;}
.post1 .tt { height:25px; border-bottom:0px solid #6db4e0;} /**标题栏**/
.post1 .tt .tit { display:inline-block; float:left; font-size:12px; color:#3b3b3b; font-weight:bold;} /**标题字体**/
.post1 .tt .tit1 { display:inline-block; float:left; font-size:12px; color:#930116; font-weight:bold;}
.post1 .tt .tit .title { display:inline-block; height: 20px; line-height: 20px; background: url(images/bttb.gif) no-repeat 0 center; padding-left: 15px;} /**标题图标**/
.post1 .tt .tit1 .title { display:inline-block; height: 20px; line-height: 20px; padding-left: 15px;}
.post1 .tt .more_btn { display:inline-block; height:40px; line-height:40px; float:right;}   /**更多按钮**/
.post1 .con { padding:0px; margin:0 auto;}
.post1 .con .wp_article_list .list_item { border-bottom:1px dashed #ccc;} /**新闻列表**/
.post1 .con .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;}
/**自定义新闻列表**/
#wp_news_w4 .news{ height: 46px;}
.news {}
.news_list {}
.news_list li.news { line-height:16px; margin-bottom:10px;border-bottom: 1px dashed #ccc;} /**标题图标**/
.news_list li.news span.news_title { line-height:16px;}
.news_list li.news span.news_title a { font-size:14px; font-family:"Microsoft Yahei"; color:#444;}
.news_list li.news span.news_title a:hover {color:#444;}
.news_list li.news span.news_meta { margin-left:2px;}
.news_list li.news .post_time {clear:both; line-height:20px; color:#787878;}
.news_list li.news p a { color:#787878; font-size:12px; font-family:"Microsoft Yahei";}
.news_list li.news p a:hover { color:#444; text-decoration:underline;}

#wp_news_w75 .news_list li.news span.news_title { float:left; padding-left:10px;}
#wp_news_w75 .news_list li.news span.news_title a { font-size:12px; font-family: "Microsoft Yahei"; color:#000;}
/**页头开始**/
#header { background:#fff;}
#header .inner { position:relative;}
.head { width:100%; height:108px; background:url(images/head.jpg) no-repeat 50% 50%; position:relative; margin: 25px 0px 0px 0px;}    /**页头部分**/
.head a { width:300px; height:70px; display:inline-block; margin-top: 18px;} 
.head a img { display:none;}
.head .sitetitle { position:absolute; left:366px; top:48px; font-size:32px; font-weight:bold; color:#fff;}		/**站点名称**/
#nav1 {}
#nav1 .inner { width:100%; background:#d92b34; height:44px;}
.navbar { width:100%; height:44px;}   	/**导航区域背景**/
.navbar .navbox { width:980px; height:44px; margin:0 auto;}   /**导航窗口大小及位置**/

/**导航样式：后台绑定时也可以定义配置**/
.navbar .navbox .wp_nav { height:44px;}  /**导航高度**/
.navbar .navbox .wp_nav li.nav-item a { font-size:16px; font-weight:bold; color:#fff;}    /**导航字体样式**/
.navbar .navbox .wp_nav li.nav-item a:hover,.navbar .navbox .wp_nav li.nav-item a.parent{ color:#F90;}   	/**鼠标经过或当前选中时样式**/
.navbar .navbox .wp_nav li.nav-item a span.item-name { padding:0 10px; height:44px; line-height:40px;}   /**导航栏目高度与边距**/
.navbar .navbox .wp_nav .sub-nav li.nav-item i.mark { background:#0777b3;}  /**子菜单背景**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a { font-size:14px; font-weight:normal;}		/**子菜单字体样式**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a:hover,.navbar .navbox .wp_nav .sub-nav li.nav-item a.parent { background:#1F5E7C; color:#fff;}
.navbar .navbox .wp_nav .sub-nav li.nav-item a span.item-name { padding:0 10px; height:26px; line-height:26px;}		/**子菜单栏目高度与边距**/
/**banner**/
#banner {background:#e6e6e6;}
#banner .inner { }
.banner { height:376px; background:#c8141e;}
.banner_img { width:100%;}
.banner_yw { width:332px; float:right; height:324px; background:#eeeeee;}
/**主体开始**/
#container { padding:0px 0;}
#container .inner { background:#fff; width:1000px; padding:0px; border:0px solid #e5e5e5;}

/**首页三列布局**/
.mod {}
.mod1 { width:268px; float:left; margin: 40px 0px 0px 0px;} /**左列**/
.mod1 .ml { width:100%;} 
.mbox { padding:0 10px; border:1px solid #d3d3d3; background:#f9f8fd;}
.mod2 { width: 692px; float: left; margin: 40px 0px 0px 40px;}
.mod2 .mc { width:420px; float:left;} /**中间**/
.mod2 .mr { width:240px; float:right; margin: auto;} /**右列**/
.mr_1{ background:url(images/di_03.jpg) left top repeat; padding: 10px 10px 0px 10px; margin: 0px 0px 30px 0px;}

/**列表页**/
.col_menu { width:236px; float:left;} 
.col_menu .col_menu_head { background:url(images/col_menu_head.jpg) no-repeat 0 0;}   /**位置栏目背景**/
.col_menu .col_menu_head h3.col_name { font-size:16px; font-weight:bold; color:#fff;font-family:"Microsoft Yahei";}		/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text { display:block; line-height:21px; padding:7px 5px 7px 30px; background:#b00b0a;}  /**栏目名称图标**/

.col_menu_1 { width:220px; float:right; margin: 10px 10px 0px 0px; background:#eee; padding:0px 0px 5px 0px;} 
.col_menu_1 .col_menu_head { background:url(images/col_menu_head.jpg) no-repeat 0 0;}   /**位置栏目背景**/
.col_menu_1 .col_menu_head h3.col_name { font-size:16px; font-weight:bold; color:#fff;font-family:"Microsoft Yahei";}		/**位置栏目字体**/
.col_menu_1 .col_menu_head h3.col_name .col_name_text { display:block; line-height:21px; padding:7px 5px 7px 30px; background:#b00b0a;}  /**栏目名称图标**/
 /**栏目列表*/
.col_list .wp_listcolumn { border-top:0px solid #2867A0; border-bottom:1px solid #fff; }
.col_list .wp_listcolumn .wp_column a { color:#000; background: url(images/icon_column_1_hover.gif) no-repeat 6px 12px; border-top:1px solid #fff; border-bottom:1px solid #eee;} 	/**一级子栏目**/
.col_list .wp_listcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_1_hover.gif);} 	/**鼠标经过或选中一级子栏目**/
.col_list .wp_listcolumn .wp_column a.selected span.column-name{ color:#f00;}

.col_list .wp_listcolumn .wp_subcolumn .wp_column a { color:#454545; background:  url(images/icon_column_2.gif) no-repeat 16px 11px; border-top:1px solid #fff; border-bottom: 1px solid #eee;} 	/**二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_2_hover.gif);} 	/**鼠标经过或选中二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f2f2f2 url(images/icon_column_3.gif) no-repeat 26px 10px; border-top:1px solid #fff; border-bottom:1px solid #ccc;} 	/**三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f5f5f5 url(images/icon_column_3.gif) no-repeat 36px 10px; border-top:1px solid #fff; border-bottom:1px solid #ddd;} 	/**四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f9f9f9 url(images/icon_column_3.gif) no-repeat 46px 10px; border-top:1px solid #fff; border-bottom:1px solid #eee;} 	/**五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_news { width:728px; float:right; min-height:350px;padding-bottom: 14px;} /**栏目新闻**/
.col_news_1 { width:728px; float:left; min-height:350px; margin: 10px 0px 0px 0px; padding: 0px 0px 0px 15px;} /**栏目新闻**/

.col_news_2 {width: 90%; margin: 0 auto; min-height:350px; border: 1px solid #ccc; padding: 15px 50px;background: #fafafa; border-top:none; border-bottom: none;} /**栏目新闻**/
.col_news_head { border-bottom:1px solid #b00b0a;}
.col_metas .col_title { display:inline-block; float:left; height:34px; line-height:34px;}  /**当前栏目**/
.col_metas .col_title h2 { display:inline-block; font-size:18px; font-weight:bold; color:#b00b0a; padding:0px 50px 0px 0px;}   /**当前栏目名称**/
.col_metas .col_path { display:inline-block; float:right; white-space:nowrap; height:18px; line-height:18px; margin-top:5px;} /**当前位置**/

.col_news_box { padding:10px 0; margin:0 7px;}
.col_news_list { margin-top:7px;}
.col_news_list .wp_article_list .list_item {}  /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;}  /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:1.6; font-size:14px; color:#333;}
.col_news_list .wp_entry p { margin-bottom:10px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); }   /**列表页文章图片大小限制**/

/**文章页**/
.infobox { margin:0 auto;}
.article {}
.article h1.arti_title { line-height:26px; font-family: "Microsoft YaHei"; padding:40px 10px 15px 10px; text-align:center; font-size:18px; color:#282828; } /**文章标题**/
.article h1.arti_title1 {border-bottom:2px solid #C30;   line-height: 24px; text-align: center;}
.article .arti_metas { padding:10px; text-align:right; padding: 10px 10px 20px 10px;}
.article .arti_metas span { margin:0 5px; font-size:14px; color:#787878;font-family: "Microsoft YaHei";} /**文章其他属性**/
.article .entry { margin:0 auto; overflow:hidden; min-height:500px; padding-top:15px;} /**文章内容**/
.article .entry .read,.article .entry .read p { font-family: "Microsoft YaHei";line-height:1.6; font-size:16px; color:#333;}  /**阅读字体**/
.article .entry .read p { margin-bottom:10px;}
.article .entry .read img { max-width:940px; _width:expression(this.width > 940 ? "940px" : this.width); }   /**文章阅读部分图片大小限制**/

/**页脚开始**/
#footer { background:#302728;}
#footer .inner {}
#footer .inner p { font-size:12px; line-height:22px; text-align:left; float:left; color:#959292; font-family:"宋体"; padding:20px 0;}
#footer .inner p span { margin:0 3px;}
.cop_box { border-top: 1px solid #3e3637;padding-bottom: 20px;}
#top {background:#e4e4e4;position:fixed; top:0px; left:0px;right: 0px; z-index:10000;}
#top .inner { width:1000px;}
.top { height:35px; position:relative; z-index:10000; }
.top .wp_nav .nav-item a { font-size:14px; color:#696969; font-family:Georgia,"PingHei",STHeitiSC-Light,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;}
.topdh { width:400px; float:left; height:35px;}
.topdt { width:405px; float:right;}

/***日历***/
.news-item {}
.news-item .item-date { margin-right: 16px; display: inline-block; width: 60px; height: 60px; background:#c8141e; float: left;}
.news-item .item-date span { display: block; height: 30px; line-height: 30px; text-align: center; color: #fff; font-size: 28px;}
.news-item .item-date .date-month { height: 30px; line-height: 30px; font-size: 12px; margin-top: 4px;}
.news-item h2 { line-height: 20px; overflow: hidden;text-overflow: ellipsis;}
.news-item h2 a { font-size: 14px; font-weight: normal; color: #292929;}
.news-item h2 a:hover{ color: #000; text-decoration: underline;}
.news-item h3 { line-height: 20px; overflow: hidden;text-overflow: ellipsis;}
.news-item h3 a { font-size: 12px; font-weight: normal; color:#6e6f6f;}
.news-item h3 a:hover{ color: #000; text-decoration: underline;}
/***导航***/
#nav{
	clear:both;
	width: 1000px;
	position:relative;
	z-index:200;
	height:44px;
	background:#c8141e; 
	display:block; margin:0 auto;
}
#nav ul{
	position:relative;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 8px;
	float: left;
}
#nav li{
	float:left;
	display:block;
	z-index:90;
	line-height: 44px;
}
#nav li.first a{}
#nav li.last {background:none;}
#nav li.last a{background:none;}
#nav li a{
	font-size: 16px;
	color:#fff;
	font-family:"Microsoft Yahei";
	display:block;
	padding: 0 19px;
	float:left;
	position:relative;
	z-index:90;
	/* font-weight: bold; */
	text-decoration: none;
}
#nav li a:hover{text-decoration:none; color:#333333; background:#fff url(../images/navhoverbg.gif); }
#nav ul li.last ul{ left:-38px;}
/*-124px*/
#nav ul li.last ul li a{background: url(../images/bu2.png) no-repeat 12px 50%;}
#nav ul li ul{ position:absolute; top:44px; left: -19px; z-index:80; background:#FAFAFA url(../images/navhoversubbg.gif) repeat-x 0 top; display:none; width:300px; padding:10px;border-radius:0px;}
/*-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;*/
#nav ul li ul li{ float:left; display:block;background:none; width:150px; padding:0; margin:0; position:relative;}
#nav ul li ul li a{
	display:block;
	line-height:25px;
	height:25px;
	cursor:pointer;
	font-size:12px;
	color:#222;
	padding-left:0;
	background: url(../images/bu2.png) no-repeat 9px 50%;
	padding:0;
	margin:0;
	border-bottom:0px dotted #ddd;
	padding-left:20px;
	overflow:hidden;
	font-weight: normal;
}
#nav ul li ul li a:hover{ background:url(../images/bu2_.png) no-repeat 9px 50%; color:#990000;}
#nav li a.mainmenuhover{text-decoration:none; color:#333333; background:#FAFAFA url(images/nav-bg-hover.gif) repeat-x 0 0;}
#nav ul li ul.min-w-nav{
	width:980px;
	padding:35px 10px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #881123;
	border-bottom-color: #881123;
	border-left-color: #881123; background:#fafafa url(images/nav_gx.gif) repeat-y center;
}
#nav ul li ul.min-w-nav li{width:106px;}
#nav ul li ul.single-w-nav{width:126px;}
#nav ul li ul.single-w-nav li{width:106px;}
.sp { width:268px !important; height:120px !important;}
.kx { width:268px !important; height:120px !important;}
.dt { width:268px !important; height:120px !important;}
.mt { width:268px !important; height:120px !important;}
.tx { width:268px !important; height:120px !important;}
.zt { width:268px !important; height:120px !important;}
.bodh { height:48px;width: 880px; margin: 0 auto;}
#slideshow { width: 1000px; height: 376px;}
.nav_xl {}
.nav_l { width:433px; float:left; overflow:hidden;}
.nav_r { width:500px; float:right; overflow:hidden;}
#jgsz {}
#jgsz .inner { width:980px;}
.jgsz { width:975px; height:315px;}
.wp_nav .nav-item a {color: #c8141e;text-align: left;}
.wp_nav .nav-item a span.item-name { padding:4px 10px;}
.top .wp_nav .nav-item a span.item-name { padding:4px 9px; line-height:27px;}
#wp_nav_w52 .wp_nav .nav-item a span.item-name { padding:4px 5px;}
#wp_nav_w53 .wp_nav .nav-item a span.item-name { padding:4px 5px;}
.wp_nav .nav-item a.parent:hover { color:#ff0000;}
#wp_nav_w113 .wp_nav .nav-item a.parent:hover,#wp_nav_w112 .wp_nav .nav-item a.parent:hover { color:#272727; text-decoration:none !important;}
#wp_nav_w113 .wp_nav .nav-item a.parent:hover span.item-name,#wp_nav_w112 .wp_nav .nav-item a.parent:hover span.item-name {text-decoration: none;}
#wp_nav_w51 .wp_nav .nav-item a span.item-name {}
#wp_nav_w51 .wp_nav .nav-item a { background:url(images/nav_nrbg.gif) no-repeat left; color:#fff;}
#wp_nav_w53 .wp_nav .nav-item { width:32% !important;}
#wp_nav_w51 .wp_nav .nav-item { margin-right:20px;}
#wp_nav_w51 {padding: 14px 0;}
#wp_nav_w51 .wp_nav .nav-item a span.item-name { padding:6px 14px;}
.lftx { background:url(images/leifeng.png) no-repeat bottom right; min-height:310px;}
#wp_nav_w73 .wp_nav .nav-item a span.item-name {padding: 4px 5px;}
.mod2 .mr .wp_editor_art_table td { background: white; padding: 5px 0px; border: 0px solid #DDD;}
.wp_article_list .list_item {border-bottom: 0px dashed #ccc;}
#wp_news_w130 .wp_article_list .list_item {height: 28px; line-height: 28px;}
#wp_news_w130 .wp_article_list .list_item span { margin: 0px 15px !important;}
.wp_article_list .list_item .Article_Index { display:none;}
#dbdh { border-top:#ff9c00 solid 4px; background:#ebebeb;}
#dbdh .inner { width:1000px; padding-bottom:10px;}
.dbdh {}
#yqlj {background: #d4d4d4;}
#yqlj .inner {}
.yqlj { height:47px; background:#d4d4d4; width:100%;}
#wp_nav_w40 .wp_nav .nav-item a span.item-name {line-height: 40px; font-size:13px; font-family:"宋体"; color:#fff; background:url(images/gexian.gif) no-repeat right;}
#wp_nav_w112 .wp_nav .nav-item a span.item-name { background:url(images/gexian_2.gif) no-repeat left;}
#wp_nav_w112 .wp_nav .i1 a span.item-name { background:none;}
#wp_nav_w40 .wp_nav .i6 a span.item-name { background:none;}
.dh1 { float:left; width:220px;}
.dh2 { float:left; width:250px;}
.dbdh .wp_nav .nav-item a { font-size:14px; font-family:"微软雅黑";}
.dh2 .wp_nav .nav-item a { color:#3a3a3a;}
.zlm .wp_nav .nav-item a { color:#800000;}
#wp_news_w73 a { line-height:24px;}
.wp_search .search { background:url(images/ssk.gif) no-repeat; width:23px;}
.share { float: right; width:250px; margin-right:0px;margin-top: 24px;text-align: right;}
.share li { display: inline-block; text-align:right; float:none;margin-left: 6px;}
.share li a { display: inline-block; white-space: nowrap; color: #a4aeba;}
.share li a span { display: inline-block;margin:0 auto; width: 70px; height: 38px; margin:0 auto; background: url(images/share.png) no-repeat;}
.share li a em { display: inline-block; white-space: nowrap; height: 14px; margin-top: 5px; line-height: 14px; font-style: normal;}
.share li a:hover em { color: #fff;}
.share li.add-weixin a span { background-position: -2px 1px; width:40px;}
.share li.add-tqq a span { background-position: -50px 1px;}
.inner .share li.add-weibo a span { background-position: -35px 1px; width:40px;}
.share li.add-weibolianmeng a span { background-position: -76px 1px;}
.share li.add-peng a span { background-position: -161px 1px;}
.share li.add-weixin a { position: relative;}
.share li.add-weixin a img { display: block; width: 133px; height: 133px; position: absolute; left: 50%; top:-140px; margin-left: -71px; z-index: 1000000; display: none;}
.share li.add-weixin a:hover img { display: block;}
.share li.add-weibo a { position: relative;}
.share li.add-weibo a img { display: block; width: 133px; height: 133px; position: absolute; left: 50%;  top:-140px; margin-left: -71px;  z-index: 1000000; display: none;}
.share li.add-weibo a:hover img { display: block;}

.share li.add-weibolianmeng { padding-left:7px;}
#jgsz .articlecontent p { line-height:21px;} 
#login_search{background-position: right;text-align: left;float: right;width: 200px!important;margin-top: 5px;line-height: 22px;}
.wp_search {float:right; position:relative; z-index:1000;}
.keyword{color:#cacaca;height: 20px;text-indent: 5px;width:140px;line-height: 20px;border: 0px solid #fff;margin-right: 5px;font-weight: normal; padding:0px;}
.keyword:hover{color:#000;height: 20px;text-indent: 5px;width:0;line-height: 22px;border: 1px solid #cacaca;margin-right: 5px;font-weight: normal;}
.wp_search .keyword-focus {border-color:#cacaca;}
/**自定义新闻列表***/
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}
.picForm ul,.picForm li{ list-style:none; }
.picForm_typeA_shell{ width:100%; height:100%;  }
.picForm_typeA{ }
.picForm_typeA_pic{ width: 400px; height: 300px; float:left; }
.picForm_typeA_text{ width: 420px; float:right; }
.picForm_typeA_title{ text-align: left; color:#333; line-height:24px; float:left;}
.picForm_typeA_intro{ display:block; width: 300px; text-align: left; font-size: 12px; line-height:24px;    }
.picForm_typeB_list{ width: 800px; height:24px;}
.picForm_typeB_title{ width: 400px; display:block; float:left; line-height:24px; }
.picForm_typeB_time{ float:right; line-height:24px; }
/***登陆框****/
.inputlist li{height:24px; color: #cccccc; line-height:24px; margin-right:5px;margin-bottom: 8px;}
.inputlist li input{*margin-top:-1px;height:24px; line-height:24px;border:1px solid #ccc;color: #000000;padding-left: 4px;}
.inputlist li input:hover{}
.inputlist li label { color:#000;}
.inputlist li label input { width:auto; height:auto;}
.inputlist .user,.inputlist .pswd{color: #000;}
.inputlist .emails{width:110px; height: 26px; border:1px solid #ccc; background:#fff; position: relative;margin-right: 5px;}
.wp_article_list .list_item .Article_Title { white-space:nowrap;}
.wp_article_list .list_item span {margin-left:0px;}
.inputlist input { width:210px;}
#wp_news_w4 { margin-top:15px;}

#lecture {}
#google-calendar{ display: block; cursor: pointer; float: right; width: 24px; height: 24px; margin-top: 12px; background: url(images/jzsmall.png) no-repeat center;}
#google-calendar:hover { background-image: url(images/jzsmall2.png);}
.lecture-slide .lecture { height: 75px; position: relative;}
.lecture-slide .lecture .lectureDate { font-style: italic; width: 56px; line-height: 18px; color: #666; text-align: center; position: absolute; left: 0px; top: 10px;}
.lecture-slide .lecture .lecture-info { display: block; margin-left: 56px; margin-right: 14px; height: 60px; border-left: 1px dotted #ccc; line-height: 20px;}
.lecture-slide .lecture .lecture-info:hover { color: #666; text-decoration: underline;}
.lecture-slide .lecture .lecture-info span { overflow: hidden; text-indent: 1em;
text-overflow: ellipsis;
white-space: nowrap;
_white-space:normal;
display: block;
height: 20px;
font-size: 13px;
line-height: 20px;
cursor: pointer;
color: #666;
}
.lecture-slide .lecture .lecture-info span.lectureUser { font-weight: bold;}
.lecture-slide .lecture .lecture-info span.lectureAddress { font-size: 12px; font-weight: normal; color: #999;}
.lecture-slide .lecture .add-google-calendar { position: absolute; right: 0; top: 20px; display: block; cursor: pointer; width: 12px; height: 20px; background: url(images/plus.gif) no-repeat 0 50%;}
.lecture-slide .lecture .add-google-calendar:hover{ background-position: -12px 50%;}
/****友情链接****/
.bottomB_inner { width:95%; margin:0 auto; }
.bottomB .wp_nav .nav-item a .item-name {padding: 0px; float:left;}
.pic01{ margin:0 37px 1px 0px;}
.pic02{ width:75px !important;}
.pic03{width: 108px !important;}
.pic04{ width: 126px !important; }
.pic05{ margin:0 0px 1px 37px;}

.pic01 .droplist-shell{  _width:190px; left:-30px;}
.pic02 .droplist-shell{  _width:175px; left:-25px; }
.pic03 .droplist-shell{ _width:175px; left:-25px; }
.pic04 .droplist-shell{  _width:220px; left:-50px; }
.pic05 .droplist-shell{ _width:245px; left:-70px;}

.pic11 .droplist-shell{ width:330px; left:-4px;}
.pic12 .droplist-shell{ width:330px; left:-113px; }
.pic13 .droplist-shell{ width:330px; left:-222px; }

.pic01-cos{ }
.pic02-cos{ }
.pic03-cos{ }
.pic04-cos{ }
.pic05-cos{ }
.pic{ position: relative; height: 42px; width: 136px; float: left; background: url(images/drop_down.gif) right center no-repeat; margin:0px 16px 1px 30px; padding:0px 13px 0px 13px; }
.pic:hover{ background:url(images/drop_up.gif) right center no-repeat;}
.pic-cos{ color:#000 !important; width:100%; height:42px; line-height:42px; font-size:14px !important; display:block; font-family:"宋体"; }
.pic-cos:hover{ color:#fff !important; text-decoration:none;}
.droplist-shell{display:block; background:#d0d0d0; position:absolute; left:-25px;  bottom:42px; z-index:999; display:none; opacity: 0.9; filter:Alpha(opacity=90); -moz-opacity:0.9; border:1px solid #0a245a; border-bottom:none;}

.droplist-shell div,.droplist-shell ul,.droplist-shell li,.droplist-shell span { width:100% !important; margin-left:0 !important;}

.droplist{ float: left; padding: 5px; width: 130px; text-align: center; line-height: 20px; min-height: 20px; display: block;}

.droplist:hover{background:#BADDEF;}

.pic .droplist-shell list_item * { float:none !important; width:100% !important; height:100% !important; margin:0 !important; padding:0 !important; display:block !important; }
.pic .droplist-shell a{ line-height:25px; height:25px; display:block; text-indent:12px; width:100%; text-align:left; font-size: 13px;}
.pic .droplist-shell a:hover{ background:#92B0CC; color: #052438;}
.pic .droplist-shell .Article_Index,
.pic .droplist-shell .ex_fields { display:none !important;}
.pic .droplist-shell .Article_Title{ float:none !important; padding: 0px 10px 0px 0px;}
.pic .more-link {text-align: right !important; width: 100%;}
.pic .more-link .moretext {padding: 0px 10px 0px 0px;}
.wp_nav .nav-item a.parent:hover span.item-name {text-decoration: underline;}

.month-days a.has-event {}
.month-days a.has-none {color: #b2b2b2;}

.sudyclndr .clndr-container {height: 170px !important;}
#wp_news_w36 .wp_article_list .list_item .Article_Title {display: none;}
.mr_1 .sudy-scroll-page { display: none;}
.sudyclndr .clndr-controls {height: 22px !important; line-height: 22px !important;}
.sudyclndr .clndr-container .clndr-days-week .clndr-week .week-box {height: 22px !important; line-height: 22px !important; font-size: 12px;}
.sudyclndr .clndr-container .clndr-days-wrap .clndr-day .day-box{height: 22px !important; line-height: 22px !important;}
.banner_list {width: 100%; background: url(images/tu.jpg) center no-repeat; height:180px;}
#followDiv1 { top : 50% !important; left: 95% !important; position: fixed !important;}
.bb {float:left; height: 30px; width: 100%; background:#f9f9fc; border-bottom:1px solid #eee;}
.col_metas .col_path1 { display:inline-block; float:left; white-space:nowrap; height:18px; line-height:18px; margin-top:5px;} /**当前位置**/
.col_list P { text-align:right; font:12px 'Helvetica', Georgia,Arial, Helvetica, sans-serif; padding: 3px 5px 3px 0px;}
.col_list i { text-align:right; font-style:italic; padding: 3px 5px 3px 0px;}
.col_news_head1{}
.news_tt { position:absolute; font-family: "Microsoft YaHei"; display:inline-block; height:40px; line-height:40px; font-size:17px; font-weight:normal; color:#868686; border-radius:5px 5px 0 0; cursor:default; right:0px;}
.news_tt a { color: #cd0200; font-weight:normal; font-size:14px;}
.sudy-tab .tab-menu li.selected { border-bottom: 2px solid #c8141e !important; color:#c8141e; line-height: 40px; height: 38px;}
.sudy-tab1 .tab-menu li.selected { border-bottom: 2px solid #c8141e !important; color:#c8141e; line-height: 40px; height: 38px;}
.ml .sudy-tab {
    margin: 0px 0px 30px 0px;
}
.mc .sudy-tab {
    margin: 0px 0px 30px 0px;
}
.tab-list { margin: 0px 0px 25px 0px;}
.mc .sudy-tab .tab-list-wrap {margin-bottom:25px;}
.mc .sudy-tab .tab-list-wrap .tab-list { margin-bottom:0; min-height:0;}
.sub-nav {
    border: none !important;
    left: 10px !important;
	top: 24px !important;
	width: 400px !important;
	visibility: visible !important;
}
#wp_nav_w73 .wp_nav .sub-nav .nav-item a { min-width: 58px; border:none; font-size:12px;}
#wp_nav_w73 .wp_nav .sub-nav .nav-item a.parent:hover{ background:none;color:#000;}
#wp_nav_w73 .wp_nav .sub-nav .nav-item a.parent{ background:none;color:#000;}
#wp_nav_w73 .wp_nav {white-space: nowrap; }
#wp_nav_w73 .nav-item.i4 {
/*margin: 19px 0px 0px 0px;
*/}
#wp_nav_w73 .wp_nav .sub-nav .nav-item {white-space: nowrap;float: left;width: 64px !important;}
.focus-pagination { position:absolute; right: 0px !important; bottom:-50px; z-index:60; height:20px; text-align: center !important; width: 100% !important;}
.bq_main { position:relative;}
.banner_img .focus-container {width:100% !important; height:100% !important;}
.banner_img .focus-title-bar { bottom: 20px;}
.banner_img .focus-title a,.banner_img .focus-text a { font-family: "Microsoft Yahei"; color: #f1f1f1; font-size:16px;}
.banner_img .focus-title a:hover,.banner_img .focus-text a:hover {color:#fff;}
.banner_img .focus-title { width:auto; padding:0 10px; height:30px; line-height:30px; background:url(js/opacity.png);}
.banner_img .focus-title-bar { height:30px;  right: 26px;}
/***wap导航***/
.wp-wrapper .wp-inner { width:auto; max-width: 1000px; margin:0 auto;background-color: #c8141e;}
.wp-navi { background-color: #D92B34;}
.main-nav-panel { margin-left:8px;}
.menu-switch-arrow { display: none;}
.main-nav-panel .wp-menu { margin:0 auto; }
.main-nav-panel .wp-menu .menu-item { display: inline-block; float: left; position: relative; z-index: 100; }
.main-nav-panel .wp-menu .menu-item a.menu-link { display: inline-block; padding:0 19px; height: 44px; line-height: 44px; color: #fff; font-size: 16px; font-family:"microsoft yahei";}
.main-nav-panel .wp-menu .menu-item a.menu-link:hover { text-decoration: none; color: #333; background-color: #ffffff;}
.main-nav-panel .sub-menu {background-color: #f2f2f2; display: none; position: absolute; left: 0; top: 44px; z-index: 100;}
.main-nav-panel .sub-menu .sub-item { position: relative; white-space: nowrap; vertical-align: top; _zoom:1;border-bottom: 1px solid #ddd;}
.main-nav-panel .sub-menu .sub-item a { display: block; color: #272727; height: 26px; line-height: 26px; padding:0 10px; display: block; }
.main-nav-panel .sub-menu .sub-item a:hover { color: #e99839; display: block;}
.main-nav-panel .sub-menu .sub-menu { left: 100%; top: 0; z-index: 200; background-color: #e6e6e6; border-left: 1px solid #ddd;}
/**slide导航**/
.wp-navi .navi-slide-head { display: none; padding:0 10px; height: 40px;}
.wp-navi .navi-slide-head .navi-slide-title { display: inline-block; float: left; font-weight: normal; color: #fff; font-size: 18px; line-height: 40px;}
.wp-navi .navi-slide-head .navi-slide-arrow { display: block; width: 34px; height: 40px; float: right; background: url(css/img/menu-icon-arrow-white.png) no-repeat 50%;}

/**aside导航**/
.navi-aside-page {position: fixed;}
.navi-aside-toggle { display: block; width:34px; height: 34px; background: url(css/img/menu-icon-arrow.png) no-repeat 50%; cursor: pointer; position: absolute; left: 0; top:50%; margin-top: -17px; display: none;}
.wp-navi-aside { display: none; position: fixed; left: 0; top:0; bottom: 0; right: 0; z-index: 1000; }
.wp-navi-aside .navi-aside-mask { width: 100%; height: 100%; background: rgba(0,0,0,.1); }
.wp-navi-aside-active { display: block;}
.wp-navi-aside .aside-inner {position: fixed;top: 0;bottom: 0;left: -216px;z-index: 1002;width: 216px;max-width: 100%;background: #252525; overflow-y: auto;-webkit-overflow-scrolling: touch; }
.wp-navi-aside .aside-inner:after {content: "";display: block;position: absolute;top: 0;bottom: 0;right: 0;width: 1px;background: rgba(0,0,0,.6);box-shadow: 0 0 5px 2px rgba(0,0,0,.6);}
.wp-navi-aside .navi-aside-head { margin-top: 0;border-top: 1px solid rgba(0,0,0,.3);background: #333;box-shadow: inset 0 1px 0 rgba(255,255,255,.05);text-shadow: 0 1px 0 rgba(0,0,0,.5);}
.wp-navi-aside .navi-aside-head .navi-aside-title { padding:7px 10px; font-weight: normal; color: #777; font-size: 14px;}
.wp-navi-aside .navi-aside-wrap { color: #aaa;border-bottom: 1px solid rgba(0,0,0,.3);box-shadow: 0 1px 0 rgba(255,255,255,.05);}
.wp-navi-aside .navi-aside-wrap li { position: relative;}
.wp-navi-aside .navi-aside-wrap li .menu-switch-arrow { display:block; cursor: pointer; width:50px; height: 35px; position: absolute; right: 0; top:0px; color: #f6f6f6; font-size: 14px; background: url(img/menu-switch-arrow.png) no-repeat 30px -25px;}
.wp-navi-aside .navi-aside-wrap li .menu-open-arrow { background-position: 20px 12px;}
.wp-navi-aside .navi-aside-wrap li a { display: block; text-decoration: none; color: #c7c7c7; font-size: 14px; line-height: 20px; padding: 8px 30px 8px 15px;border-top: 1px solid rgba(0,0,0,.3);box-shadow: inset 0 1px 0 rgba(255,255,255,.05);text-shadow: 0 1px 0 rgba(0,0,0,.5);}
.wp-navi-aside .navi-aside-wrap li a:hover,.wp-navi-aside .navi-aside-wrap li a:focus { background-color: #404040; color: #fff; outline: 0;}
.wp-navi-aside .navi-aside-wrap li .sub-menu { display: none; background-color: #2e2e2e;}
.wp-navi-aside .navi-aside-wrap li .sub-menu li a { padding-left: 20px; }
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu { background-color: #333}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu li a { padding-left: 30px;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu { background-color: #343434;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu li a { padding-left: 40px;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu { background-color: #373737;}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu li a { padding-left: 50px;}
.wp-navi { display:none;}
.sjqu { width:95px;    float: left;  margin-top: 25px;  margin-right: 20px;}
.sjqu img {    width: 93px;
    height: auto;
    opacity: 0.6;filter:alpha(opacity=60);}
.topfl {float: left;  width: 220px;}
.bdshare-button-style0-16 { float:left; padding-top: 5px;}
.article .arti_metas { float:right;}
.xxgk #wp_nav_w74 .wp_nav .nav-item a { color:#555555; height:91px;}
.xxgk #wp_nav_w74 .wp_nav .nav-item a:hover { color:#ff0000;}
.xxgk #wp_nav_w74 .wp_nav .i1 a span.item-name { background:url(images/xxgk_t.gif) no-repeat center;}
.xxgk #wp_nav_w74 .wp_nav .i2 a span.item-name { background:url(images/xxgk_t1.gif) no-repeat center;}
.xxgk #wp_nav_w74 .wp_nav .i3 a span.item-name { background:url(images/xxgk_t2.gif) no-repeat center;}
.xxgk #wp_nav_w74 .wp_nav .i4 a span.item-name { background:url(images/xxgk_t3.gif) no-repeat center;}
.xxgk #wp_nav_w74 .wp_nav .nav-item a span.item-name {padding: 60px 0px 10px 0px;width: 91px;
text-align: center;}
.xxgk_list .col_menu_1 { background:none;}
.xxgk_list .wp_listcolumn .wp_column a .column-name { padding: 11px 10px 11px 30px;}
.xxgk_list .col_list .wp_listcolumn .wp_column a { background:url(images/list_ico.png) no-repeat 10px 18px; border:1px solid #e6e6e6;border-top:0px solid #e6e6e6; font-size:15px; font-weight:normal; color:#b00b0a; width: 218px; font-family:"microsoft yahei";}
.xxgk_list .col_list .wp_listcolumn .wp_column a:hover, .xxgk_list .col_list .wp_listcolumn .wp_column a.selected { background-image:url(images/list_ico.png);color: #f00;}
.nav_xl .nav_r .news_list li.news { line-height:20px;border-bottom: 0px dashed #ccc;}
.dwgk { padding-top:20px;}
#jgsz .nav_r #wp_news_w75 .news_list li.news span.news_title { padding-left:0px;}
#wp_nav_w176 .wp_nav .nav-item { width:190px; height:54px; padding-left:12px;}
#wp_nav_w176 .wp_nav .nav-item a { font-size:22px; font-family:"microsoft yahei"; color:#fff;}
#wp_nav_w176 .wp_nav .i1 a { background: url(images/xxgk_t4.gif) no-repeat;}
#wp_nav_w176 .wp_nav .i2 a { background: url(images/xxgk_t5.gif) no-repeat;}
#wp_nav_w176 .wp_nav .nav-item a span.item-name { padding:16px 30px 16px 70px;}
#wp_nav_w176 .wp_nav .nav-item a:hover span.item-name { text-decoration:none;}
#jgsz .nav_xl .nav_l .xxgk {padding-top: 60px;}
.article .entry .read {padding-bottom: 150px; background: url(images/wxw.jpg) no-repeat center bottom;}